body {
  font-family: Poppins, sans-serif;
  font-size: 30px;
}


h1 {
  font-size: 40px;
  font-weight: 900;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    font-size: 32px;
    width: 100%;
  }
  
.sign-up {
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 10px;
    border-radius: 14px;
    font-size: 25px;
  }
  
.sign-out {
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 10px;
    border-radius: 14px;
    font-size: 25px;

  }

.home-buttons { 
    margin-top: 45px;
    width: 100%;
    text-align: right;
  }

.edit {
  color: black;
}
 