body {
  font-family: Poppins, sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 900;
}

.nav-item {
    display: inline-block;
    margin-right: 10px;
    font-size: 32px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
  }
  
  .sign-out {
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 10px;
    border-radius: 5px;

  }

  .home-buttons {
    margin-top: 45px;
  }


 